<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Sign up aaaa</h1>

        <form method="POST" th:action="@{/signup}">
            <p>
                <!--El name i id de el nom d'usuari ha de ser username perquè Spring Security el reconegui com a tal-->
                <label for="username">Usuari:</label>
                <input type="text" name="username" id="username"/>
            <p/>

            <p>
                <!--El name i id de la contrasenya ha de ser password perquè Spring Security el reconegui com a tal-->
                <label for="password">Contrasenya:</label>
                <input type="password" name="password" id="password"/>
            <p/>

            <input type="submit" value="Login"/>
        </form>
        <div>
            <a th:href="@{'/login'}">Retornar a login</a>
        </div>
    </body>
</html>
