<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <a th:href="@{'/portal'}">Dirigirse a portal</a>
        </div>
        <table class="table table-bordered table-striped custom-table">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>username</th>
                    <th>password</th>
                    <th>estat</th>
                    <th>accions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuari : ${usuaris}">
                    <td th:text="${usuari.idUsuari}"></td>
                    <td th:text="${usuari.username}"></td>
                    <td th:text="${usuari.password}"></td>
                    <td>
                        <div th:if="${usuari.enabled}">
                            <label>on</label>
                        </div>
                        <div th:if="!${usuari.enabled}">
                            <label>off</label>
                        </div>
                    </td>
                    <td>
                        <div th:if="!${usuari.enabled}">
                            <a th:href="@{'/enable/'+${usuari.idUsuari}}">Desbloquejar</a>
                        </div>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
