<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <a th:href="@{'/iniciGossos'}">Registrar nou usuari</a>
        </div>
        <div>
            <a th:href="@{'/iniciUsuaris'}">Registrar nou usuari</a>
        </div>
    </body>
</html>
